<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!--<add key="expiry5min" value="1APR2020, 30APR2020"/>-->
    <add key="expiry5min" value="9APR2020,30APR2020"/>
    <add key="expiry1hour" value="28MAY2020, 25JUN2020, 24SEP2020,31DEC2020"/>

    <add key="expiry5minTime" value="10"/>
    <add key="expiry1hourTIme" value="60"/>
    
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
